<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Сдвиг квартала</title>
	<style>{% include "node_modules/simpledotcss/simple.min.css" %}</style>
</head>
<body>
	<header>
		<h1>{{ title | default: "Сдвиг квартала" }}</h1>
	</header>
	<main>
		{{ content }}
	</main>
	{% assign previousChapter = collections.chapters | getPreviousCollectionItem %}
	{% assign nextChapter = collections.chapters | getNextCollectionItem %}
	{% if previousChapter or nextChapter %}
		<nav>
			<ul>
				{% if previousChapter %}
					<li>Предыдущая глава: <a href="{{ previousChapter.url }}">{{ previousChapter.data.title }}</a></li>
				{% endif %}
				<li><a href="/">Оглавление</a></li>
				{% if nextChapter %}
					<li>Следующая глава: <a href="{{ nextChapter.url }}">{{ nextChapter.data.title }}</a></li>
				{% endif %}
			</ul>
		</nav>
	{% endif %}
</body>
</html>
